<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Servlet e JDBC</title>
</head>
 <body>
        <h1>Bem-vindo ao Servlet para acesso JDBC ao Banco de Dados JavaEE1 e à tabela Pessoa</h1>
        <a href="ServletPessoa">Acessar o servlet ServletPessoa - doGet</a>
        
        <br>
        <br>
        <form action="ServletPessoa" method="POST">
                Digite o nome: 
                <input type="text" name="nome" />
                Digite o email: 
                <input type="text" name="email" />
                Digite a cidade: 
                <input type="text" name="cidade" />
                <br>
				<input type="submit" name="action" value="TESTE"/>
				<br>
        </form>
    </body>
</html>